/* for poster */

.poster{ 
    /* height: 200px; */
    width: 250px;
    border : 2px solid black;
    display:inline-block ; 
    margin : 20px ;
    border-radius:8%;
    background-color:rgb(136, 240, 240);
    box-shadow: 0 4px 8px black; 
    transition:1s ease;
     
}


img{ 
   width: 100%;
   background-color: aqua;
   border-top-left-radius: 8%;
   border-top-right-radius: 8%;

}

.desc{ 
   padding-left:51px ;
}

.poster:hover{ 
    box-shadow: 0 8px 18px rgb(17, 246, 155); 
   
}





















