h2{ 
   color: rgb(252, 172, 68);
}
span{ 
    color :rgb(180, 105, 6)
}
img{ 
   height: 250px;
   width: 450px;
   border-radius: 30px;
   padding: 10px ;
   
}
.card{ 
    height: 580px ;
    width: 480px;
    border: 3px solid black;
    border-radius: 30px;
    /* margin: 100px; */
    /* display: inline-block; */
    padding : 15px
}

h3{ 
   font-size: 25px;
}

p{ 
   font-size: large;
   text-align:justify;
}

#pets{ 
   display: flex;
   justify-content: space-evenly;
}

@media(max-width:375px){ 
   #pets{ 
       flex-wrap: wrap;
   }
}