body {
  font-family: Arial;
}

#mainImg {
  width: 35%;
}

.green{ 
   color:rgb(255, 0, 0);
}

.underline{ 
    text-decoration: underline rgb(191, 0, 255) wavy;
}
.box {
  border: 0.25px solid black;
  background-color: lightgray;
  width: 200px;
  padding: 1rem;
}

.boxLink {
  text-decoration: none;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
}
